body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav .username {
    font-weight: bold;
}

.nav .signIn {
    font-weight: bold;
}

.container {
    /* or max-width: 970px; */
    max-width: 750px;
}